.slider {
	 width: 40%;
	 margin-left: 90px;
	 float: right;
	 position: absolute;
}
.darkred, .darkred select {
	color: #b00;
}
input.strasse {
	width: 75%;
	display: inline;
}
input.hausnummer {
	width: 23%;
	margin-left: 2%;
	display: inline;
}
input.plz {
	width: 20%;
	display: inline;
}
input.ort {
	width: 78%;
	margin-left: 2%;
	display: inline;
}
input.land {
	width: 100%;
	display: inline;
}

.mitglieder .form-group {
	margin-bottom: 0;
}
.mitglieder .alter {
	 width: 80px;
	 margin-top: 5px;
	 padding-left: 2px;
	 padding-right: 2px;
	 display: inline;
	 text-align: center;
}
.uebernachtung {
	padding: 0 0 0 15px;
}
.uebernachtung .radio label {
	margin-bottom: 10px;
	display: block;
}

.beitrag .radio label {
	display: block;
}

.is-disabled * {
	color: #bbb !important;
	cursor: not-allowed;
}


.black, .radio:hover .preis {
	color: #000;
}

.preis {
	float: right;
	font-size: 14pt;
	width: 60px;
	text-align: center;
	line-height: 12pt;
	color: #aaa;
}
.preis small {
	margin: 0;
	display: block;
	font-size: 8pt;
}
.is-active .preis {
	color: #000;
}
